:root {
    --sceneSizeFactor: calc(min(var(--sceneMaxWidth) / 297, var(--sceneMaxHeight) / 210));
    --sceneWidth: calc(var(--sceneSizeFactor) * 297);
    --sceneHeight: calc(var(--sceneSizeFactor) * 210);
}

body {
    font-size: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    overflow-x: hidden;
}

p {
    font-size: 1rem;
}

/* config panel */

input {
    font-family: Consolas, monospace;
    font-size: 1rem;
    line-height: 2rem;
}

.beforeInput {
    font-family: Consolas, monospace;
    margin-right: 0.25rem;
}

button {
    font-size: 1rem;
    line-height: 2rem;
}

#button_pauseContinueFlash {
    margin-right: 0.5rem;
}

#button_resetFlash {
    margin-right: 0.5rem;
}

body.sceneUpToDate #button_resetFlash {
    display: none;
}

/* scene */

#sceneMaxSize {
    width: calc(100% + 2rem - 0.2rem);
    height: calc(100vh - 0.2rem);
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 0.2rem;
    margin-top: 2rem;
}

#scene {
    overflow: hidden;
    width: var(--sceneWidth);
    height: var(--sceneHeight);
    border: 0.1rem solid #aaa;
    /* border: 0.1rem solid red; */
    font-size: calc(var(--sceneHeight) / 100);
    margin: 0 auto;
}

/* sceneComponent */

.sceneComponent {
    position: absolute;
    user-select: contain;
    font-size: 10em;
    transform: translateX(calc(var(--sceneComponent_x) * var(--sceneWidth) - var(--sceneComponent_xAlign))) translateY(calc(var(--sceneComponent_y) * var(--sceneHeight) - var(--sceneComponent_yAlign)));
}

.sceneComponent .rawText,
.sceneComponent .text {
    white-space: pre;
}

body:not(.sceneEditing) .sceneComponent .rawText {
    display: none;
}

body.sceneEditing .sceneComponent .text {
    display: none;
}

/* sceneEditPanel */

#sceneEditPanel {
    /* margin-left: 1rem; */
    font-size: 1rem;
    /* max-height: 0; */
    /* transition: max-height 1s; */
    background-color: #eee;
    /* transition: margin-right 0.25s; */
    margin-bottom: 1rem;
}