@font-face {
    font-family: "天珩全字库TH-Tshyn-P0";
    src: url(fonts/TH-Tshyn-P0.ttf);
}

@font-face {
    font-family: "天珩全字库TH-Tshyn-P1";
    src: url(fonts/TH-Tshyn-P1.ttf);
}

@font-face {
    font-family: "天珩全字库TH-Tshyn-P2";
    src: url(fonts/TH-Tshyn-P2.ttf);
}

@font-face {
    font-family: "天珩全字库TH-Tshyn-P16";
    src: url(fonts/TH-Tshyn-P16.ttf);
}